<div></div>
<router-outlet></router-outlet>
<div class="main" [hidden]="route.children.length!==0">
    <div></div>

    <div type="Menú"></div>
    <div></div>
    <h1>NUEVA COATIZACION</h1>

    <p>Seleccione las preferencias:</p>

    <form (ngSubmit)="Subir_condiciones()">

        <div>
            <label for="tipo_tasa">TIPO DE TASA:</label>
            <label>
                <input type="checkbox" name="tasa" [(ngModel)]="tasaEfectiva" (ngModelChange)="onCheckboxChange()" checked>
                Tasa Efectiva
            </label>
            <label>
                <input type="checkbox" name="tasa" [(ngModel)]="tasaNominal" (ngModelChange)="onCheckboxChange()">
                Tasa Nominal
            </label>
        </div>
        <br>
        <div>
            <label for="dropdown">CAPITALIZACION: </label>
            <select id="dropdown">
                <option value="diaria">Diaria</option>
                <option value="semanal">Semanal</option>
                <option value="quincenal">Quincenal</option>
                <option value="mensual">Mensual</option>
                <option value="bimestral">Bimestral</option>
                <option value="trimestral">Trimestral</option>
                <option value="cuatrimestral">Cuatrimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
            </select>
        </div>
        <br>
        <div>
            <label for="per_gracia">PERIODO DE GRACIA: </label>
            <select id="dropdown">
                <option value="no_periodo">-------</option>
                <option value=" parcial">Parcial</option>
                <option value="total">Total</option>
            </select>
        </div>
        <br>
        <div>
            <label for="moneda">MONEDA:</label>
            <input type="checkbox" formControlName="Soles" [value]="true"> SOLES
            <input type="checkbox" formControlName="Dolares" [value]="true"> DOLARES
        </div>
        <br>
        <button type="submit" routerLink="configurar">CONTINUAR</button>
    </form>